dc1m:
  image: qnib/consul
  ports:
   - "8500:8500"
   - "8302:8302"
  environment:
   - DC_NAME=dc1
   - CONSUL_BOOTSTRAP_EXPECT=1
  dns: 127.0.0.1
  hostname: dc1master

dc1c1:
  image: qnib/consul
  dns: 127.0.0.1
  hostname: dc1cli1
  ports:
   - "18500:8500"
   - "18302:8302"
  environment:
   - DC_NAME=dc1
   - RUN_SERVER=true
  links:
   - dc1m:consul

dc1c2:
  image: qnib/consul
  dns: 127.0.0.1
  hostname: dc1cli2
  ports:
   - "28500:8500"
   - "28302:8302"
  environment:
   - DC_NAME=dc1
   - RUN_SERVER=true
  links:
   - dc1c1:consul
